* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  background-color: #00bcd4;
  color: white;
  padding: 50px 0;
}

.hero h1 {
  font-size: 3rem;
}

.hero .cta-button {
  background-color: #ff4081;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.about {
  text-align: center;
  margin-top: 40px;
}


/* Books and Roms List */
.books-list, .roms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.book, .roms {
  background-color: white;
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for book and rom blocks */
.book:hover, .roms:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Book and Roms Title Styling */
.book h2, .roms h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

/* Author and Link Styling */
.book p, .roms p {
  font-size: 1rem;
  color: #666;
}

.book a, .roms a {
  color: #007BFF;
  text-decoration: none;
}

.book a:hover, .roms a:hover {
  text-decoration: underline;
}

/* Roms Styling */
.roms {
  background-color: white;
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.roms:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Cover image styling */
.roms-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Roms Title Styling */
.roms h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.roms p {
  font-size: 1rem;
  color: #666;
}

.roms a {
  color: #007BFF;
  text-decoration: none;
}

.roms a:hover {
  text-decoration: underline;
}
