* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  position: relative;
  z-index: 1000; 
  display: flex;
  align-items: center;  
  justify-content: center;  
  padding: 10px 20px;  
  background-color: #333;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  background-color: #00bcd4;
  color: white;
  padding: 50px 0;
  z-index: 100;
}

.hero h1 {
  font-size: 3rem;
}

.hero .cta-button {
  background-color: #ff4081;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.about {
  text-align: center;
  margin-top: 40px;
}

.psp-list, .nes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.psp:hover, .nes:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.psp h2, .nes h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.psp p, .nes p {
  font-size: 1rem;
  color: #666;
}

.psp a, .nes a {
  color: #007BFF;
  text-decoration: none;
}

.psp a:hover, .nes a:hover {
  text-decoration: underline;
}

.psp, .nes {
  background-color: white;
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.psp-cover, .nes-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.search-box {
  text-align: center;
  margin: 20px 0;
}

.search-box input {
  padding: 8px;
  width: 300px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box button {
  padding: 8px 15px;
  margin-left: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search-box button:hover {
  background-color: #0056b3;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.search-result {
  background-color: white;
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-result:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.search-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar {
  height: 100%;
  width: 0; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar .close-btn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 50%;  
  left: 20px;  
  transform: translateY(-50%);  
  z-index: 1100;  
}

body.menu-open {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

#menu {
  color: white;
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 1.5rem;
}
